[submodule "janus"]
	path = janus
	url = https://github.com/carlhuda/janus.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".janus/Smooth-Scroll"]
	path = .janus/Smooth-Scroll
	url = https://github.com/vim-scripts/Smooth-Scroll.git
[submodule ".janus/vim-repeat"]
	path = .janus/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
