[submodule "janus"]
	path = janus
	url = https://github.com/carlhuda/janus.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
[submodule ".janus/vim-powerline"]
	path = .janus/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule ".janus/Smooth-Scroll"]
	path = .janus/Smooth-Scroll
	url = https://github.com/vim-scripts/Smooth-Scroll.git
[submodule ".janus/vim-repeat"]
	path = .janus/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule ".janus/vim-indent-guides"]
	path = .janus/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
[submodule ".janus/vimux"]
	path = .janus/vimux
	url = https://github.com/benmills/vimux.git
[submodule ".janus/clang_complete"]
	path = .janus/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
[submodule ".janus/vim-latex"]
	path = .janus/vim-latex
	url = https://github.com/jcf/vim-latex.git
